{% extends 'base.html' %}
{% load static %}

{% block title %} Farmonlar {% endblock %}

{% block content %}

<div class="wrapper bgded overlay back-class-img">
	<div id="breadcrumb" class="hoc clear">
		<!-- ############################# ################################################################### -->
		<h6 class="heading">Kafedralar</h6>
		<ul>
			<li><a href="{% url 'texapp:home' %}">Bosh sahifa</a></li>
			<li><a href="{% url 'texapp:home' %}">Hujjatlar</a></li>
			<li><a href="{% url 'texapp:farmonlar' %}">Farmonlar </a></li>
		</ul>
		<!-- ################################################################################################ -->
	</div>
</div>

<h1> Farmonlar page</h1>
<hr>
    

{% endblock %}