{% extends 'base.html' %}
{% load static %}

{% block title %} E'lonlar {% endblock %}

{% block content %}
<div class="wrapper bgded overlay back-class-img">
	<div id="breadcrumb" class="hoc clear">
		<!-- ############################# ################################################################### -->
		<h6 class="heading">Elonlar</h6>
		<ul>
			<li><a href="{% url 'texapp:home' %}">Bosh sahifa</a></li>
			<li><a href="{% url 'texapp:home' %}">Yangiliklar</a></li>
			<li><a href="{% url 'texapp:elonlar' %}">E'lonlar </a></li>
		</ul>
		<!-- ################################################################################################ -->
	</div>
</div>

<h1> E'lon page</h1>
<hr>
<div class="wrapper row3">
	<main class="hoc container clear">
		<!-- main body -->
		<!-- ################################################################################################ -->
		<div class="sidebar one_quarter first">
			<!-- ################################################################################################ -->
			<h6>Lorem ipsum dolor</h6>
			<nav class="sdb_holder">
				<ul>
					<li><a href="#">Navigation - Level 1</a></li>
					<li><a href="#">Navigation - Level 1</a></li>
					<li><a href="#">Navigation - Level 1</a></li>
					<li><a href="#">Navigation - Level 1</a></li>
					<li><a href="#">Navigation - Level 1</a></li>
					<li><a href="#">Navigation - Level 1</a></li>
				</ul>
			</nav>

			<!-- ################################################################################################ -->
		</div>
		<!-- ################################################################################################ -->
		<!-- ################################################################################################ -->
		<div class="content three_quarter">
			<!-- ################################################################################################ -->
            <div>
                <img class="imgl borderedbox inspace-5" src="{{elon.rasm.url}}" alt="Texnikum elonlar">
                <h1>{{elon.sarlavha}}</h1>
                <span>Sana: {{elon.sana}};   </span><br><span>Ko'rilgan: {{elon.elon_kurilgan}}</span><br>
            </div>
			<p>{{elon.matn}}</p>

			<!-- ################################################################################################ -->
		</div>
		<!-- ################################################################################################ -->
		<!-- / main body -->
		
		<div class="clear"></div>
	</main>
</div>

{% endblock %}