{% extends 'base.html' %}
{% load static %}

{% block title %} E'lonlar {% endblock %}

{% block content %}
<div class="wrapper bgded overlay back-class-img">
	<div id="breadcrumb" class="hoc clear">
		<!-- ############################# ################################################################### -->
		<h6 class="heading">Elonlar</h6>
		<ul>
			<li><a href="{% url 'texapp:home' %}">Bosh sahifa</a></li>
			<li><a href="{% url 'texapp:home' %}">Yangiliklar</a></li>
			<li><a href="{% url 'texapp:elonlar' %}">E'lonlar </a></li>
		</ul>
		<!-- ################################################################################################ -->
	</div>
</div>

<h1> Elonlar page</h1>
<hr>
<div class="wrapper row3">
	<main class="hoc container clear">
		<!-- main body -->
		<!-- ################################################################################################ -->
		<div class="sidebar one_quarter first">
			<!-- ################################################################################################ -->
			<h6>Lorem ipsum dolor</h6>
			<nav class="sdb_holder">
				<ul>
					<li><a href="#">Navigation - Level 1</a></li>
					<li><a href="#">Navigation - Level 1</a></li>
					<li><a href="#">Navigation - Level 1</a></li>
					<li><a href="#">Navigation - Level 1</a></li>
					<li><a href="#">Navigation - Level 1</a></li>
					<li><a href="#">Navigation - Level 1</a></li>
				</ul>
			</nav>

			<!-- ################################################################################################ -->
		</div>
		<!-- ################################################################################################ -->
		<!-- ################################################################################################ -->
		<div class="content three_quarter">
			<!-- ################################################################################################ -->
			{% for elon in elonlar %}
			<img class="imgl borderedbox inspace-5" style="width: 350px; height: 260px;" src="{{elon.rasm.url}}" alt="Texnikum elonlar">
			<h1>{{elon.sarlavha}}</h1>
			<span>Sana: {{elon.sana}};   </span><span>Ko'rilgan: {{elon.elon_kurilgan}}</span><br>
			<p>{{elon.matn|truncatechars:200}}</p>
			<a href="{% url 'texapp:elon' elon.id %}" class="btn btn-default">Batafsil</a>
			<hr>
			{% endfor %}
			<!-- ################################################################################################ -->
		</div>
		<!-- ################################################################################################ -->
		<!-- / main body -->
		<nav class="pagination">
			<ul>
				{% if elonlar.has_previous %}
			    <li><a href="{% url 'texapp:elonlar' %}?page={{elonlar.previous_page_number}}">&laquo;</a></li>
				{% endif %}

				{% for i in elonlar.paginator.page_range %}
				<li><a href="?page={{i}}">{{i}}</a></li>
				{% endfor %}

				{% if elonlar.has_next%}
				<li><a href="{% url 'texapp:elonlar' %}?page={{elonlar.next_page_number}}"> &raquo;</a></li>
				{% endif %}
			</ul>
		  </nav>
		<div class="clear"></div>
	</main>
</div>


{% endblock %}