{% extends 'base.html' %}
{% load static %}

{% block title %} Yangiliklar {% endblock %}

{% block content %}

<div class="wrapper bgded overlay back-class-img">
	<div id="breadcrumb" class="hoc clear">
		<!-- ############################# ################################################################### -->
		<h6 class="heading">Yangiliklar</h6>
		<ul>
			<li><a href="{% url 'texapp:home' %}">Bosh sahifa</a></li>
			<li><a href="{% url 'texapp:home' %}">Yangiliklar</a></li>
			<li><a href="{% url 'texapp:yangiliklar' %}">Yangiliklar </a></li>
		</ul>
		<!-- ################################################################################################ -->
	</div>
</div>

<h1> Yangiliklar page</h1>
<hr>

<div class="wrapper row3">
	<main class="hoc container clear">
		<!-- main body -->
		<!-- ################################################################################################ -->
		<div class="sidebar one_quarter first">
			<!-- ################################################################################################ -->
			<h6>Lorem ipsum dolor</h6>
			<nav class="sdb_holder">
				<ul>
					<li><a href="#">Navigation - Level 1</a></li>
					<li><a href="#">Navigation - Level 1</a></li>
					<li><a href="#">Navigation - Level 1</a></li>
					<li><a href="#">Navigation - Level 1</a></li>
					<li><a href="#">Navigation - Level 1</a></li>
					<li><a href="#">Navigation - Level 1</a></li>
				</ul>
			</nav>

			<!-- ################################################################################################ -->
		</div>
		<!-- ################################################################################################ -->
		<!-- ################################################################################################ -->
		<div class="content three_quarter">
			<!-- ################################################################################################ -->
			{% for yangilik in yangiliklar %}
			<img class="imgl borderedbox inspace-5" style="width: 350px; height: 260px;" src="{{yangilik.rasm.url}}" alt="Texnikum yangiliklar">
			<h1>{{yangilik.sarlavha}}</h1>
			<span>Sana: {{yangilik.sana}};   </span><span>Ko'rilgan: {{yangilik.yan_kurilgan}}</span><br>
			<p>{{yangilik.matn|truncatechars:200}}</p>
			<a href="{% url 'texapp:yangilik' yangilik.id %}" class="btn btn-default">Batafsil</a>
			<hr>
			{% endfor %}
			<!-- ################################################################################################ -->
		</div>
		<!-- ################################################################################################ -->
		<!-- / main body -->
		<nav class="pagination">
			<ul>
				{% if yangiliklar.has_previous %}
			    <li><a href="{% url 'texapp:yangiliklar' %}?page={{yangiliklar.previous_page_number}}">&laquo;</a></li>
				{% endif %}

				{% for i in yangiliklar.paginator.page_range %}
				<li><a href="?page={{i}}">{{i}}</a></li>
				{% endfor %}

				{% if yangiliklar.has_next%}
				<li><a href="{% url 'texapp:yangiliklar' %}?page={{yangiliklar.next_page_number}}"> &raquo;</a></li>
				{% endif %}
			</ul>
		  </nav>
		<div class="clear"></div>
	</main>
</div>




{% endblock %}