{% extends 'base.html' %}
{% load static %}

{% block title %} Fotolar {% endblock %}

{% block content %}
<div class="wrapper bgded overlay back-class-img" >
    <div id="breadcrumb" class="hoc clear"> 
    <!-- ############################# ################################################################### -->
        <h6 class="heading">Fotolar</h6>
        <ul>
            <li><a href="{% url 'texapp:home' %}">Bosh sahifa</a></li>
            <li><a href="{% url 'texapp:home' %}">Texnikum</a></li>
            <li><a href="{% url 'texapp:fotolar' %}">Fotolar </a></li>
        </ul>
    <!-- ################################################################################################ -->
    </div>
</div>
    <h1> Fotolar page</h1>
    <hr>

    {% endblock %}