{% extends 'base.html' %}
{% load static %}

{% block title %} Vediolar {% endblock %}

{% block content %}
<div class="wrapper bgded overlay back-class-img" >
    <div id="breadcrumb" class="hoc clear"> 
    <!-- ############################# ################################################################### -->
        <h6 class="heading">Vediolar</h6>
        <ul>
            <li><a href="{% url 'texapp:home' %}">Bosh sahifa</a></li>
            <li><a href="{% url 'texapp:home' %}">Texnikum</a></li>
            <li><a href="{% url 'texapp:vediolar' %}">Vediolar </a></li>
        </ul>
    <!-- ################################################################################################ -->
    </div>
</div>
    <h1> Vediolar page</h1>
    <hr>

    {% endblock %}