{% extends 'base.html' %}
{% load static %}

{% block title %} Aloqalar {% endblock %}

{% block content %}

<div class="wrapper bgded overlay back-class-img" >
    <div id="breadcrumb" class="hoc clear"> 
    <!-- ############################# ################################################################### -->
        <h6 class="heading">Aloqalar</h6>
        <ul>
            <li><a href="{% url 'texapp:home' %}">Bosh sahifa</a></li>
            <li><a href="{% url 'texapp:home' %}">Texnikum</a></li>
            <li><a href="{% url 'texapp:aloqalar' %}">Aloqalar </a></li>
        </ul>
    <!-- ################################################################################################ -->
    </div>
</div>

    <h1> Aloqalar page</h1>
    <hr>
    <div class="wrapper row3">
        <main class="hoc container clear">
          <!-- main body -->
          <!-- ################################################################################################ -->
          <div class="sidebar one_quarter first">
            <!-- ################################################################################################ -->
            <h6>Lorem ipsum dolor</h6>
            <nav class="sdb_holder">
              <ul>
                <li><a href="#">Navigation - Level 1</a></li>
                <li><a href="#">Navigation - Level 1</a></li>
                <li><a href="#">Navigation - Level 1</a></li>
                <li><a href="#">Navigation - Level 1</a></li>
                <li><a href="#">Navigation - Level 1</a></li>
                <li><a href="#">Navigation - Level 1</a></li>
              </ul>
            </nav>
      
            <!-- ################################################################################################ -->
          </div>
          <!-- ################################################################################################ -->
          <!-- ################################################################################################ -->
          <div class="content three_quarter">
            <!-- ################################################################################################ -->
            <h1 style="text-align: center;">Aloqalar </h1>
            <p style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit dignissimos, sed similique repellendus harum
              quas libero asperiores mollitia sint minima amet molestiae provident doloremque quos, tempore quidem quae id at
              facere. Corrupti qui iure distinctio eligendi praesentium quos nobis ducimus, quam eius vitae iusto sint alias
              accusamus. Ipsa cumque id similique possimus molestiae quisquam rem commodi odio saepe iste accusamus aut
              perspiciatis error, quos quidem a, soluta accusantium cupiditate earum et placeat ut voluptatibus! Id quae
              ducimus quibusdam non eveniet beatae expedita quod. Ullam fugiat nulla tenetur libero earum recusandae vero
              incidunt molestiae nemo quaerat esse impedit minus, exercitationem blanditiis totam dolorem unde? Nobis impedit
              dolorum facere sit laboriosam eos accusamus odio in dignissimos, quisquam eius cum id laudantium consequuntur,
              enim sapiente voluptate aliquid perferendis tenetur quis sint autem nisi? Non, eligendi rerum sint, dolor
              consectetur recusandae excepturi doloribus sed aliquam optio quis quo distinctio ducimus.</p> 
            <p style="text-align: justify;">Est reiciendis blanditiis facere, excepturi recusandae impedit praesentium pariatur debitis cum aut, dolorum beatae cumque. Cum
              vitae voluptatum harum vel pariatur rerum earum excepturi sit, dolore odio. Sunt corporis nostrum sed animi
              impedit repudiandae asperiores, quo eligendi nulla placeat ad, itaque alias ullam quasi tenetur iste! Fugiat
              doloremque porro repellendus optio, autem ex ipsa ipsum dolore quaerat quia dolorem ut reprehenderit vitae
              quidem aut officia ad obcaecati minus laborum omnis non facere suscipit. A vitae in magni molestias ad ipsum
              placeat alias nihil eius. Quibusdam sunt exercitationem, quaerat cumque deserunt rem officiis repellendus sed
              eaque aliquid molestiae eligendi vitae nam inventore, consequatur magni optio et reiciendis voluptatem quis
              incidunt animi neque. Quisquam asperiores voluptatem alias libero vel cum nam. Obcaecati maxime nulla iste aut
              libero illum, praesentium tenetur labore blanditiis accusamus ratione sint, tempore ea itaque doloremque
              repellendus sit minus architecto aliquam, veritatis quo molestiae vel. </p>
            <p style="text-align: justify;">Atque ab, dignissimos facere quae unde tempora reprehenderit vel? Quam impedit fugiat suscipit dolorem nulla cumque labore perspiciatis veniam voluptas
              aperiam magnam quia eos, corrupti aut sapiente ipsam provident, nam quod sed minus ut commodi exercitationem.
              Reprehenderit est error a aut saepe eos exercitationem. Vel quia beatae eius! Obcaecati vitae rerum a
              voluptates, reprehenderit sed harum exercitationem aspernatur quis itaque cum provident laboriosam magnam,
              perspiciatis illum aliquid doloribus dolores aut consectetur. Magnam atque et ratione blanditiis harum adipisci
              beatae fugit eaque rerum dicta nam natus, dolor assumenda ex quis sit ea? Accusantium fugiat voluptate non id
              pariatur aperiam ipsa assumenda numquam temporibus? Ratione fuga voluptate reprehenderit voluptates excepturi!
            </p>
      
            <!-- ################################################################################################ -->
          </div>
          <!-- ################################################################################################ -->
          <!-- / main body -->
      
          <div class="clear"></div>
        </main>
      </div>
      
    

{% endblock %}