{% load static %}
<!DOCTYPE html>
<html lang="">

<head>
  <title>Texnikum</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="{% static 'styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear">
      <div class="fl_left">
        <ul class="nospace">
          <li><a href="{% url 'texapp:home' %}"><i class="fas fa-home fa-lg"></i></a></li>
          <li><a href="#">Biz haqimizda</a></li>
          <li><a href="#">Bog'lanish</a></li>
          <li><a href="#">Til</a></li>
        </ul>
      </div>
      <div class="fl_right">
        <ul class="nospace">
          <li><i class="fas fa-phone rgtspace-5"></i>+998 97 927 69 23</li>
          <li><i class="fas fa-envelope rgtspace-5"></i>sam_texnikum@email.com</li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="one_half first">
        <h1 class="logoname"><a href="{% url 'texapp:home' %}"><span>SamDU</span>Texnikum</a></h1>
      </div>
      <div class="one_half">
        <ul class="nospace clear">
          <li class="one_half first">
            <div class="block clear"><i class="fas fa-phone"></i> <span><strong class="block">Murojaat uchun:</strong>
                +998 97 927 69 23</span> </div>
          </li>
          <li class="one_half">
            <div class="block clear"><i class="far fa-clock"></i> <span><strong class="block"> Dush. - Shan.:</strong>
                08.00am - 18.00pm</span> </div>
          </li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </header>
    <nav id="mainav" class="hoc clear">
      <!-- ################################################################################################ -->
      <ul class="clear">
        <li class="active"><a href="{% url 'texapp:home' %}">Bosh sahifa</a></li>
        <li><a class="drop" href="#">texnikum</a>
          <ul>
            <li class="menu-top"><a href="{% url 'texapp:texnikum_tarix' %}">texnikum tarixi</a></li>
            <li class="menu-top"><a href="{% url 'texapp:rahbariyat' %}">raxbariyat</a></li>
            <li class="menu-top"><a href="{% url 'texapp:kafedralar' %}">kafediralar</a></li>
            <li class="menu-top"><a href="{% url 'texapp:markaz_va_bulimlar' %}">markaz va bo'limlar</a></li>
            <li class="menu-top"><a href="{% url 'texapp:aloqalar' %}">aloqalar</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">yangiliklar</a>
          <ul>
            <li class="menu-top"><a href="{% url 'texapp:yangiliklar' %}">yangiliklar</a></li>
            <li class="menu-top"><a href="{% url 'texapp:elonlar' %}">e'lonlar</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">talabalar</a>
          <ul>
            <li class="menu-top"><a href="{% url 'yuriqnoma' %}">yo'riqnoma</a></li>
            <li class="menu-top"><a href="{% url 'dars_jadval' %}">dars jadvali</a></li>
            <li class="menu-top"><a href="{% url 'reting' %}">davomat</a></li>
            <li class="menu-top"><a href="{% url 'iqtidorli_talabalar' %}">ixtidorli talabalar</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">abituriyent</a>
          <ul>
            <li class="menu-top"><a href="{% url 'eslatma' %}">eslatma</a></li>
            <li class="menu-top"><a href="{% url 'qabul_kvota' %}">qabul nizomi</a></li>
            <li class="menu-top"><a href="{% url 'qabul_nizom' %}">qabul kvotasi</a></li>
            <li class="menu-top"><a href="#">hujjatlar to'plami</a></li>
            <li class="menu-top"><a href="#">imtihon fanlari ro'yxati</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">hujjatlar</a>
          <ul>
            <li class="menu-top"><a href="{% url 'texapp:qonunlar' %}">qonunlar</a></li>
            <li class="menu-top"><a href="{% url 'texapp:farmonlar' %}">farmonlar</a></li>
            <li class="menu-top"><a href="{% url 'texapp:qarorlar' %}">qarorlar</a></li>
            <li class="menu-top"><a href="{% url 'texapp:nizomlar_va_qoidalar' %}">nizomlar va qoidalar</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">galeriya</a>
          <ul>
            <li class="menu-top"><a href="{% url 'texapp:fotolar' %}">fotogalereya</a></li>
            <li class="menu-top"><a href="{% url 'texapp:vediolar' %}">videogalereya</a></li>
          </ul>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </nav>
  </div>

  {% block content %}

  {% endblock %}


  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper gradient">
    <section id="cta" class="hoc container clear">
      <!-- ################################################################################################ -->
      <div class="sectiontitle">
        <h6 class="heading">foydali saytlar</h6>
      </div>
      <!-- <ul class="nospace clear">
        <li class="one_third first">
          <div class="block clear">
            <img src="images/demo/3.png" alt="">
          </div>
        </li>
        <li class="one_third">
          <div class="block clear">
            <img src="images/demo/4.png" alt="">
          </div>
        </li>
        <li class="one_third">
          <div class="block clear">
            <img src="images/demo/5.png" alt="">
          </div>
        </li>
      </ul> -->
      <div class="">
        <p class="mySlides"  style="width:100%">Slider1</p>
        <p class="mySlides"  style="width:100%">Slider2</p>
        <p class="mySlides"  style="width:100%">Slider3</p>
        <p class="mySlides"  style="width:100%">Slider4</p>

      
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
      </div>
      
      <script>
      var slideIndex = 1;
      showDivs(slideIndex);
      
      function plusDivs(n) {
        showDivs(slideIndex += n);
      }
      
      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";  
        }
        x[slideIndex-1].style.display = "block";  
      }
      </script>
      <!-- ################################################################################################ -->
    </section>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row4">
    <footer id="footer" class="hoc clear">
      <!-- ################################################################################################ -->
      <div class="one_third first">
        <h4 class="heading">Bizning manzil</h4>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5313.955385319563!2d67.09030063567519!3d39.700406386410016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d23880f0ffaff%3A0xbe69eb6bf46964b1!2sJomboy%20maishiy%20xizmat%20kasb-hunar%20kolleji!5e0!3m2!1sen!2s!4v1604249186547!5m2!1sen!2s"
          width="350" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
      </div>
      <div class="one_third">
        <h4 class="heading">Yordamchi menyu</h4>
        <ul class="nospace linklist">
          <li class="yordamchi"><a href="#">bosh sahima</a></li>
          <li class="yordamchi"><a href="#">texnikum</a></li>
          <li class="yordamchi"><a href="#">yangiliklar</a></li>
          <li class="yordamchi"><a href="#">talabalar</a></li>
          <li class="yordamchi"><a href="#">abituriyent</a></li>
          <li class="yordamchi"><a href="#">hujjatlar</a></li>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="heading">Savol yuborish</h6>
        <form method="post" action="#">
          <fieldset>
            <textarea name="savol" id="savol" cols="30" rows="5" placeholder="Savol kiritish joyi..."></textarea>
            <button style="margin: 20px 65px; border-radius: 5px;" type="submit"
              value="submit">yuborish</button><br><br>
            <h6 class="heading">bizning ijtimoiy tarmoqlar</h6>
            <ul class="faico clear">
              <li><a style="border-radius: 50% !important;" class="faicon-dribble" href="#"><i
                    class="fab fa-telegram"></i></a></li>
              <li><a style="border-radius: 50% !important;" class="faicon-facebook" href="#"><i
                    class="fab fa-facebook"></i></a></li>
              <li><a style="border-radius: 50% !important;" class="faicon-google-plus" href="#"><i
                    class="fab fa-instagram"></i></a></li>
              <li><a style="border-radius: 50% !important;" class="faicon-twitter" href="#"><i
                    class="fab fa-twitter"></i></a></li>
              <li><a style="border-radius: 50% !important;" class="faicon-vk" href="#"><i class="fab fa-vk"></i></a>
              </li>
            </ul>
          </fieldset>
        </form>
      </div>
      <!-- ################################################################################################ -->
    </footer>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row5" style="background-color: lightslategray;">
    <div id="copyright" class="hoc clear">
      <!-- ################################################################################################ -->
      <p class="fl_left" style="color: white;">Copyright &copy; Bobur Amirov - <a href="#"
          style="background-color: lightslategray; color: white;">Texnikum</a></p>
      <p class="fl_right" style="color: white;"><a href="#" style="background-color: lightslategray; color: white;"><i
            class="fas fa-phone"></i> +998 97 927 69
          23</a></p>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->

  <script src="{% static 'scripts/jquery.min.js' %}"></script>
  <script src="{% static 'scripts/jquery.backtotop.js' %}"></script>
  <script src="{% static 'scripts/jquery.mobilemenu.js' %}"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</body>

</html>