{% extends 'base.html' %}
{% load static %}

{% block title %} Bosh sahifa {% endblock %}

{% block content %}

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div >
	<!-- /*style="background-image:url('images/demo/backgrounds/01.png');"*/ -->
	<video src=" {% static 'video/135.mp4' %}"
	 autoplay loop="" width="100%"></video>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
	<main class="hoc container clear">
		<!-- main body -->
		<!-- ################################################################################################ -->
		<div class="sectiontitle">
			<h4 class="heading">Texnikumdan foto lavhalar</h4>
		</div>
		<ul class="nospace group overview">
			{% for foto in fotolar %}
			<li class="one_third">
				<figure><a href="#"><img src="{{foto.rasmlar.url}}" alt=""></a>
					<figcaption>
						<h6 class="heading">{{foto.name}}</h6>
						<p>Samarqand davlat universiteti qoshidagi Jomboy raqamli texnologiyalar texnikumi</p>
					</figcaption>
				</figure>
			</li>
			{% endfor %}

		</ul>
		<!-- ################################################################################################ -->
		<!-- / main body -->
		<div class="clear"></div>
	</main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
	<section class="hoc container clear">
		<!-- ################################################################################################ -->
		<div class="sectiontitle">
			<h6 class="heading">Texnikum statistikasi</h6>
		</div>
		<div class="group center">
			<article class="one_third first"><a class="ringcon btmspace-50" href="#"><i class="fas fa-user-tie"></i></a>
				<h6 class="heading">Xodimlar soni</h6>
				<p class="stat">30</p>
			</article>
			<article class="one_third"><a class="ringcon btmspace-50" href="#"><i class="fas fa-user-graduate"></i></a>
				<h6 class="heading">Talabalar soni</h6>
				<p class="stat">250</p>
			</article>
			<article class="one_third"><a class="ringcon btmspace-50" href="#"><i class="fas fa-text-width"></i></a>
				<h6 class="heading">Yo'nalishlar soni</h6>
				<p class="stat">3</p>
			</article>
		</div>
		<!-- ################################################################################################ -->
	</section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper gradient">
	<section id="testimonials" class="hoc container clear">
		<!-- ################################################################################################ -->
		<div class="sectiontitle">
			<h6 class="heading">E'lonlar</h6>
		</div>
			{% for elon in elon1 %}
				<article class="one_third first">
					<blockquote>
						<h2>{{elon.sarlavha}}</h2>
						{{elon.matn|truncatechars:100}}
						<br><span style="padding-left: 200px; color: blue;">{{elon.sana}}</span>
						<a class="btn btn-default" href="{% url 'texapp:elon' elon.id %}">Batafsil</a>
					</blockquote>
				</article>
			{% endfor %}
			{% for elon in elonlar %}
				<article class="one_third">
					<blockquote>
						<h2>{{elon.sarlavha}}</h2>
						{{elon.matn|truncatechars:100}}
						<br><span style="padding-left: 200px; color: blue;">{{elon.sana}}</span>
						<a class="btn btn-default" href="{% url 'texapp:elon' elon.id %}">Batafsil</a>
					</blockquote>
				</article>
			{% endfor %}
			<div class="sectiontitle">
				<a href="{% url 'texapp:elonlar' %}">Barchasi</a>
			</div>
		
		<!-- ################################################################################################ -->
	</section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
	<section id="latest" class="hoc container clear">
		<!-- ################################################################################################ -->
		<div class="sectiontitle">
			<h6 class="heading">So'ngi yangiliklar</h6>
		</div>
		<ul class="nospace group">
			{% for yangilik in yangilik1 %}
			<li class="one_third first">
				<article>
					<figure><a href="#"><img src="{{yangilik.rasm.url}}" alt=""></a>
						<figcaption>
							<time datetime="2045-04-06T08:15+00:00"><strong>{{yangilik.sana|date:'d'}}</strong> <em>{{yangilik.sana|date:'M'}}</em></time>
						</figcaption>
					</figure>
					<div class="excerpt">
						<h6 class="heading">{{yangilik.sarlavha}}</h6>
						<p>Sana: {{yangilik.sana}}</p>
						<p> {{yangilik.matn|truncatechars:100}} [<a href="#">&hellip;</a>]</p>
						<footer><a class="btn" href="{% url 'texapp:yangilik' yangilik.id %}">Batafsil</a></footer>
					</div>
				</article>
			</li>
			{% endfor %}
			{% for yangilik in yangiliklar %}
			<li class="one_third">
				<article>
					<figure><a href="#"><img src="{{yangilik.rasm.url}}" alt=""></a>
						<figcaption>
							<time datetime="2045-04-06T08:15+00:00"><strong>{{yangilik.sana|date:'d'}}</strong> <em>{{yangilik.sana|date:'M'}}</em></time>
						</figcaption>
					</figure>
					<div class="excerpt">
						<h6 class="heading">{{yangilik.sarlavha}}</h6>
						<p>Sana: {{yangilik.sana}}</p>
						<p> {{yangilik.matn|truncatechars:100}} [<a href="#">&hellip;</a>]</p>
						<footer><a class="btn" href="{% url 'texapp:yangilik' yangilik.id %}">Batafsil</a></footer>
					</div>
				</article>
			</li>
			{% endfor %}
		</ul>
		<div class="sectiontitle">
			<a href="{% url 'texapp:yangiliklar' %}">Barchasi</a>
		</div>
		<!-- ################################################################################################ -->
	</section>
</div>


{% endblock %}